@import "bootstrap/scss/mixins/buttons";

.bpv-alert {
  .bpv-alert-wrapper {
    display: flex;
    align-items: center;
  }

  .bpv-alert-icon {
    margin-right: map-get($spacers, 2);
    flex: 0 0 auto;
    width: auto;
  }

  &.bpv-alert-enter-from {
    opacity: 0;
  }

  &.bpv-alert-enter-active {
    transition: opacity 0.3s;
  }

  &.bpv-alert-leave-from {
    max-height: 1000px;
  }

  &.bpv-alert-leave-to {
    opacity: 0;
    margin: 0;
  }

  &.bpv-alert-leave-active {
    overflow: hidden;
    transition:
      opacity 0.3s,
      margin 0.15s;
  }
}
