%offcanvas-layout-css-vars {
  // scss-docs-start offcanvas-layout-css-vars
  --#{$prefix}offcanvas-width-sm: #{$offcanvas-layout-width-sm};
  --#{$prefix}offcanvas-width-lg: #{$offcanvas-layout-width-lg};
  --#{$prefix}offcanvas-border-width: #{$offcanvas-layout-border-width};
  --#{$prefix}offcanvas-border-color: #{$offcanvas-layout-border-color};
  --#{$prefix}offcanvas-bg: #{$offcanvas-layout-bg-color};
  --#{$prefix}offcanvas-color: #{$offcanvas-layout-color};
  --#{$prefix}offcanvas-transition: #{width $offcanvas-transition-duration ease-in-out};
  --#{$prefix}offcanvas-padding-x: #{$offcanvas-layout-padding-x};
  --#{$prefix}offcanvas-padding-y: #{$offcanvas-layout-padding-y};
  // scss-docs-end offcanvas-layout-css-vars
}

.bpv-offcanvas-layout {
  @extend %offcanvas-layout-css-vars;

  display: flex;
  height: 100%;

  .bpv-offcanvas-layout-aside {
    @extend %offcanvas-layout-css-vars;

    flex: 0 0 auto;
    max-width: 100%;
    position: static;
    visibility: visible;
    border-right: var(--#{$prefix}offcanvas-border-width) solid var(--#{$prefix}offcanvas-border-color);
    transition: var(--#{$prefix}offcanvas-transition);
    background-color: var(--#{$prefix}offcanvas-bg);
    color: var(--#{$prefix}offcanvas-color);
    overflow-x: hidden;

    .bpv-offcanvas-layout-aside-size-trigger {
      padding: calc(var(--#{$prefix}offcanvas-padding-y) * .5) calc(var(--#{$prefix}offcanvas-padding-x) * .5);
      margin: calc(-.5 * var(--#{$prefix}offcanvas-padding-y)) calc(-.5 * var(--#{$prefix}offcanvas-padding-x)) calc(-.5 * var(--#{$prefix}offcanvas-padding-y)) auto;
      color: inherit;
      line-height: 0;
    }

    .offcanvas-header {
      width: var(--#{$prefix}offcanvas-width-lg);
      display: block;

      .offcanvas-header-link {
        color: inherit;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: $transition-base;

        &:hover {
          opacity: 0.8;
        }
      }

      .offcanvas-brand {
        width: calc(var(--#{$prefix}offcanvas-width-sm) - var(--#{$prefix}offcanvas-padding-x) * 2);
      }

      .offcanvas-title {
        margin-left: var(--#{$prefix}offcanvas-padding-x);
      }
    }

    .offcanvas-body {
      width: var(--#{$prefix}offcanvas-width-lg);
      transition: padding-left .2s ease-in-out;

      .bpv-panelmenu {
        &, .bpv-menu {
          --#{$prefix}list-group-bg: var(--#{$prefix}offcanvas-bg);
          --#{$prefix}list-group-border-color: var(--#{$prefix}offcanvas-bg);
          --#{$prefix}list-group-action-color: var(--#{$prefix}offcanvas-color);
          --#{$prefix}list-group-action-opacity: 0.75;
          --#{$prefix}list-group-action-hover-color: var(--#{$prefix}offcanvas-color);
          --#{$prefix}list-group-action-hover-bg: var(--#{$prefix}offcanvas-bg);
          --#{$prefix}list-group-action-hover-opacity: 1;
          --#{$prefix}list-group-action-active-color: var(--#{$prefix}offcanvas-color);
          --#{$prefix}list-group-action-active-bg: var(--#{$prefix}offcanvas-bg);

          border-radius: 0;
        }

        .bpv-menu-item {
          .bpv-menu-item-action {
            border-radius: 0;
            padding-right: 0;
            padding-left: calc(var(--#{$prefix}offcanvas-padding-x) * 0.75);
            transition: $transition-base;
            opacity: var(--#{$prefix}list-group-action-opacity);

            &:hover, &:focus, &:active, &.active {
              opacity: var(--#{$prefix}list-group-action-hover-opacity);
            }

            .bpv-menu-item-action-icon {
              transition: width .2s ease-in-out, margin .2s ease-in-out, padding .2s ease-in-out, background .2s ease-in-out;

              &.bpv-menu-item-action-icon-submenu {
                display: none;
              }
            }

            svg.bpv-menu-item-action-icon {
              &:not(.bpv-menu-item-action-icon-submenu) {
                width: calc((var(--#{$prefix}offcanvas-width-sm) - var(--#{$prefix}offcanvas-padding-x) * 2) * 0.5);
              }
            }

            .bpv-menu-item-action-icon:not(svg) {
              &:not(.bpv-menu-item-action-icon-submenu) {
                font-size: calc((var(--#{$prefix}offcanvas-width-sm) - var(--#{$prefix}offcanvas-padding-x) * 2) * 0.5);
              }
            }
          }
        }

        .bpv-menu {
          transition: $transition-base;
          padding-left: calc(var(--#{$prefix}offcanvas-padding-x) * 0.75);
        }
      }
    }
  }

  .bpv-offcanvas-layout-body {
    flex: 1 0 0;
    max-width: 100%;
    position: relative;
    transition: $transition-base;
  }

  .bpv-offcanvas-layout-hidden {
    display: inline-block;
    position: relative;
  }

  &.bpv-offcanvas-layout-sm {
    .bpv-offcanvas-layout-aside {
      width: var(--#{$prefix}offcanvas-width-sm);

      .offcanvas-body {
        padding-left: calc(var(--#{$prefix}offcanvas-padding-x) - calc(var(--#{$prefix}offcanvas-padding-x) * 0.2));
      }

      .bpv-panelmenu {
        .bpv-menu-item {
          .bpv-menu-item-action {
            padding: 0;

            .bpv-menu-item-action-icon {
              padding: var(--#{$prefix}list-group-item-padding-y) calc(var(--#{$prefix}offcanvas-padding-x) * 0.75);

              &:not(.bpv-menu-item-action-icon-submenu) {
                margin-right: calc(var(--#{$prefix}offcanvas-padding-x) * 2);
              }
            }

            &.active {
              background-color: inherit;
              color: inherit;

              .bpv-menu-item-action-icon {
                color: var(--#{$prefix}list-group-active-color);
                background-color: var(--#{$prefix}list-group-active-bg);
              }
            }
          }
        }

        .bpv-menu {
          padding-left: 0;

          .bpv-menu-item-action {
            padding-left: calc(var(--#{$prefix}offcanvas-padding-x));

            .bpv-menu-item-action-icon {
              &:not(.bpv-menu-item-action-icon-submenu) {
                margin-right: calc(var(--#{$prefix}offcanvas-padding-x) * 2.15);
              }
            }

            svg.bpv-menu-item-action-icon {
              &:not(.bpv-menu-item-action-icon-submenu) {
                width: calc((var(--#{$prefix}offcanvas-width-sm) - var(--#{$prefix}offcanvas-padding-x) * 2) * 0.35);
              }
            }

            .bpv-menu-item-action-icon:not(svg) {
              &:not(.bpv-menu-item-action-icon-submenu) {
                font-size: calc((var(--#{$prefix}offcanvas-width-sm) - var(--#{$prefix}offcanvas-padding-x) * 2) * 0.35);
              }
            }
          }
        }
      }
    }
  }

  &.bpv-offcanvas-layout-lg {
    .bpv-offcanvas-layout-aside {
      width: var(--#{$prefix}offcanvas-width-lg);
    }
  }
}
