.bpv-overlaypanel {
  --#{$prefix}popover-max-width: auto;
  --p-overlaypanel-position-top: var(--#{$prefix}popover-body-padding-y);
  --p-overlaypanel-position-right: var(--#{$prefix}popover-body-padding-y);
  --p-overlaypanel-position-bottom: auto;
  --p-overlaypanel-position-left: auto;

  margin-top: var(--#{$prefix}popover-arrow-height);
  z-index: $zindex-popover !important;

  &::before, &::after {
    content: '';
    border-color: transparent;
    border-style: solid;
    position: absolute;
    left: var(--overlayArrowLeft, 0);
  }

  &:not([data-p-overlaypanel-flipped]) {
    &::before, &::after {
      border-width: 0 calc(var(--#{$prefix}popover-arrow-width) * .5) var(--#{$prefix}popover-arrow-height);
    }

    &::before {
      top: calc(var(--#{$prefix}popover-arrow-height) * -1);
      border-bottom-color: var(--#{$prefix}popover-arrow-border);
    }

    &::after {
      top: calc((var(--#{$prefix}popover-arrow-height) - var(--#{$prefix}popover-border-width)) * -1);
      border-bottom-color: var(--#{$prefix}popover-bg);
    }
  }

  &[data-p-overlaypanel-flipped="true"] {
    margin-top: calc(var(--#{$prefix}popover-arrow-height) * -1);
    margin-bottom: var(--#{$prefix}popover-arrow-height);

    &::before, &::after {
      border-width: var(--#{$prefix}popover-arrow-height) calc(var(--#{$prefix}popover-arrow-width) * .5) 0;
    }

    &::before {
      bottom: calc(var(--#{$prefix}popover-arrow-height) * -1);
      border-top-color: var(--#{$prefix}popover-arrow-border);
    }

    &::after {
      bottom: calc((var(--#{$prefix}popover-arrow-height) - var(--#{$prefix}popover-border-width)) * -1);
      border-top-color: var(--#{$prefix}popover-bg);
    }
  }

  &.bpv-overlaypanel-enter-from, &.bpv-overlaypanel-leave-to {
    opacity: 0;
  }

  > .btn-close {
    position: absolute;
    right: var(--p-overlaypanel-position-right);
    top: var(--p-overlaypanel-position-top);
    bottom: var(--p-overlaypanel-position-bottom);
    left: var(--p-overlaypanel-position-left);

    &:focus {
      box-shadow: none;
      opacity: var(--#{$prefix}btn-close-opacity);
    }
  }
}
