.bpv-tieredmenu {
  .bpv-tieredmenu-menu {
    .bpv-tieredmenu-menu-item {
      padding: 0;

      &:not(:last-of-type) {
        border-bottom-width: 0;
      }

      .bpv-tieredmenu-menu-item-action {
        display: flex;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        padding: var(--#{$prefix}list-group-item-padding-y) var(--#{$prefix}list-group-item-padding-x);
        color: inherit;

        .bpv-tieredmenu-menu-item-action-icon {
          margin-right: 10px;
        }

        .bpv-tieredmenu-menu-item-action-submenu-icon {
          margin-left: auto;
        }
      }
    }

    .bpv-tieredmenu-menu-separator {
      padding: 0;
      border-top-width: 1px;
      border-bottom-width: 0;
    }

    &.bpv-tieredmenu-submenu {
      position: absolute;
      min-width: 100%;
      z-index: $zindex-dropdown;
    }
  }
}
