$badge-padding-x-lg: $badge-padding-x * 1.25 !default;
$badge-padding-y-lg: $badge-padding-y * 1.25 !default;
$badge-font-size-lg: $badge-font-size * 1.25 !default;
$badge-padding-x-xl: $badge-padding-x * 1.5 !default;
$badge-padding-y-xl: $badge-padding-y * 1.5 !default;
$badge-font-size-xl: $badge-font-size * 1.5 !default;

$card-body-gap: $spacer !default;
$card-caption-gap: $spacer * 0.5 !default;
$card-title-font-size: $h5-font-size !default;
$card-subtitle-color: map-get($theme-colors, secondary) !default;

$input-filled-bg: var(--#{$prefix}light) !default;

$offcanvas-layout-width-sm: $offcanvas-horizontal-width * 0.5 !default;
$offcanvas-layout-width-lg: $offcanvas-horizontal-width !default;
$offcanvas-layout-border-width: $offcanvas-border-width !default;
$offcanvas-layout-border-color: $offcanvas-border-color !default;
$offcanvas-layout-bg-color: $offcanvas-bg-color !default;
$offcanvas-layout-color: $offcanvas-color !default;
$offcanvas-layout-padding-x: $offcanvas-padding-x !default;
$offcanvas-layout-padding-y: $offcanvas-padding-y !default;

$table-cell-padding-y-lg: .75rem !default;
$table-cell-padding-x-lg: .75rem !default;

$tabview-body-padding-x: $accordion-body-padding-x !default;
$tabview-body-padding-y: $accordion-body-padding-y !default;

$overlaypanel-btn-close-position-top: var(--#{$prefix}popover-body-padding-y) !default;
$overlaypanel-btn-close-position-right: var(--#{$prefix}popover-body-padding-x) !default;
$overlaypanel-btn-close-position-bottom: auto !default;
$overlaypanel-btn-close-position-left: auto !default;

$zindex-form-select-menu: $zindex-dropdown !default;

$form-select-clear-icon-width: $btn-close-width * 0.625 !default;
$form-select-clear-icon-height: $btn-close-height * 0.625 !default;
$form-select-dropdown-icon-width: $btn-close-width * 0.875 !default;
$form-select-dropdown-icon-height: $btn-close-height * 0.875 !default;

$zindex-calendar-panel: $zindex-popover !default;

$calendar-panel-min-width: 210px !default;
