$badge-padding-x-lg: $badge-padding-x * 1.25 !default;
$badge-padding-y-lg: $badge-padding-y * 1.25 !default;
$badge-font-size-lg: $badge-font-size * 1.25 !default;
$badge-padding-x-xl: $badge-padding-x * 1.5 !default;
$badge-padding-y-xl: $badge-padding-y * 1.5 !default;
$badge-font-size-xl: $badge-font-size * 1.5 !default;

$card-body-gap: $spacer !default;
$card-caption-gap: $spacer * 0.5 !default;
$card-title-font-size: $h5-font-size !default;
$card-subtitle-color: map-get($theme-colors, secondary) !default;

$input-filled-bg: var(--#{$prefix}light) !default;

$menu-separator-width: $list-group-border-width !default;
$menu-separator-color: $list-group-border-color !default;
$menu-separator-offset: $list-group-item-padding-y !default;

$offcanvas-layout-width-sm: $offcanvas-horizontal-width * 0.5 !default;
$offcanvas-layout-width-lg: $offcanvas-horizontal-width !default;
$offcanvas-layout-border-width: $offcanvas-border-width !default;
$offcanvas-layout-border-color: $offcanvas-border-color !default;
$offcanvas-layout-bg-color: $offcanvas-bg-color !default;
$offcanvas-layout-color: $offcanvas-color !default;
$offcanvas-layout-padding-x: $offcanvas-padding-x !default;
$offcanvas-layout-padding-y: $offcanvas-padding-y !default;
$offcanvas-layout-menu-separator-color: $menu-separator-color !default;
$offcanvas-layout-menu-separator-width: $menu-separator-width !default;
$offcanvas-layout-menu-separator-offset: $menu-separator-offset !default;

$table-cell-padding-y-lg: .75rem !default;
$table-cell-padding-x-lg: .75rem !default;
$table-column-resizer-width: 6px !default;
$table-resize-helper-width: $table-border-width;
$table-resize-helper-color: var(--#{$prefix}secondary);

$tabview-body-padding-x: $accordion-body-padding-x !default;
$tabview-body-padding-y: $accordion-body-padding-y !default;

$overlaypanel-btn-close-position-top: var(--#{$prefix}popover-body-padding-y) !default;
$overlaypanel-btn-close-position-right: var(--#{$prefix}popover-body-padding-x) !default;
$overlaypanel-btn-close-position-bottom: auto !default;
$overlaypanel-btn-close-position-left: auto !default;

$form-select-clear-icon-width: $btn-close-width * 0.625 !default;
$form-select-clear-icon-height: $btn-close-height * 0.625 !default;
$form-select-dropdown-icon-width: $btn-close-width * 0.875 !default;
$form-select-dropdown-icon-height: $btn-close-height * 0.875 !default;
$form-select-input-padding-x-sm: $input-padding-x-sm !default;
$form-select-input-padding-y-sm: $input-padding-y-sm !default;
$form-select-input-indicator-padding-sm: $form-select-input-padding-x-sm * 3 !default;
$form-select-input-font-size-sm: $input-font-size-sm !default;
$form-select-input-padding-x-lg: $input-padding-x-lg !default;
$form-select-input-padding-y-lg: $input-padding-y-lg !default;
$form-select-input-indicator-padding-lg: $form-select-input-padding-x-lg * 3 !default;
$form-select-input-font-size-lg: $input-font-size-lg !default;
$form-select-menu-label-font-size-sm: $form-select-input-font-size-sm !default;
$form-select-menu-label-font-size-lg: $form-select-input-font-size-lg !default;

$calendar-panel-min-width: 210px !default;
$calendar-panel-group-item-padding-x: $grid-gutter-width !default;
$calendar-panel-label-selected-bg: $primary !default;
$calendar-panel-label-selected-border-color: $primary !default;
$calendar-panel-label-active-color: var(--#{$prefix}btn-active-color) !default;
$calendar-panel-label-active-bg: var(--#{$prefix}btn-active-bg) !default;
$calendar-panel-label-active-border-color: var(--#{$prefix}btn-active-border) !default;
$calendar-panel-label-today-color: $primary !default;
$calendar-panel-label-disabled-color: var(--#{$prefix}secondary) !default;
$calendar-panel-label-disabled-border-color: transparent !default;

$zindex-table-resize-helper: 20 !default;

$selectbutton-group-padding-x: $input-btn-padding-x !default;
$selectbutton-group-padding-y: $input-btn-padding-y !default;
$selectbutton-bg-color: var(--#{$prefix}light) !default;
$selectbutton-border-color: var(--#{$prefix}light) !default;
$selectbutton-btn-bg-color: $primary !default;
$selectbutton-btn-border-color: $primary !default;
