.bpv-table-column {
  &.bpv-table-column-sortable {
    &:not(.bpv-table-column-reorderable) {
      cursor: pointer;
    }

    &.bpv-table-column-reorderable {
      .bpv-table-column-sort {
        cursor: pointer;
      }
    }

    &:hover, &.bpv-table-column-sorted {
      --#{$prefix}table-color-state: var(--#{$prefix}table-hover-color);
      --#{$prefix}table-bg-state: var(--#{$prefix}table-hover-bg);

      .bpv-table-column-sort {
        color: var(--#{$prefix}table-color-state);
      }
    }
  }

  &.bpv-table-column-resizable {
    &:not(.bpv-table-column-frozen) {
      background-clip: padding-box;
      position: relative;
    }
  }

  &.bpv-table-column-reorderable {
    cursor: move;
  }

  .bpv-table-column-header-content {
    display: flex;
    align-items: center;
  }

  .bpv-table-column-sort {
    margin-left: $table-cell-padding-x;
    color: $table-caption-color;
  }

  .bpv-table-column-resizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: $table-column-resizer-width;
    cursor: col-resize;
  }

  .bpv-table-column-filter {
    display: inline-block;
    margin-left: auto;
  }

  .bpv-table-column-reorderablerow-handle {
    cursor: move;
  }
}

.bpv-table-column-filter-overlay {
  --p-anchor-gutter: 2px;

  display: flex;
  flex-direction: column;
  gap: $table-column-filter-overlay-body-gap;
  padding: $table-column-filter-overlay-padding-y $table-column-filter-overlay-padding-x;
  min-width: $table-column-filter-overlay-min-width;

  &::before, &::after {
    display: none;
  }

  .bpv-table-column-filter-overlay-add-button, .bpv-table-column-filter-overlay-remove-button {
    display: inline-flex;
    align-items: center;

    &.btn-sm {
      > svg, i {
        margin-right: $spacer * 0.5;
      }

      > svg {
        width: $btn-font-size-sm;
        height: $btn-font-size-sm;
      }

      > i {
        font-size: $btn-font-size-sm;
      }
    }

    &.bpv-btn-block {
      display: flex;
      align-items: center;
    }
  }

  .bpv-table-column-filter-overlay-button-bar {
    display: flex;
    justify-content: space-between;
  }

  .bpv-table-column-filter-constraints {
    .bpv-table-column-filter-constraint-item {
      .bpv-table-column-filter-overlay-remove-button {
        margin-top: $table-column-filter-overlay-body-gap;
      }

      &:not(:last-child) {
        margin-bottom: $table-column-filter-overlay-body-gap;
      }
    }
  }

  .bpv-table-column-filter-overlay-match-mode {
    margin-bottom: $table-column-filter-overlay-body-gap;
  }
}

.table.table-hover {
  tbody {
    > tr {
      cursor: pointer;
    }
  }
}
