.bpv-table-column {
  &.bpv-table-column-sortable {
    cursor: pointer;

    &:hover, &.bpv-table-column-sorted {
      --#{$prefix}table-color-state: var(--#{$prefix}table-hover-color);
      --#{$prefix}table-bg-state: var(--#{$prefix}table-hover-bg);

      .bpv-table-column-sort {
        color: var(--#{$prefix}table-color-state);
      }
    }
  }

  &.bpv-table-column-resizable {
    &:not(.bpv-table-column-frozen) {
      background-clip: padding-box;
      position: relative;
    }
  }

  .bpv-table-column-sort {
    margin-left: $table-cell-padding-x;
    color: $table-caption-color;
  }

  .bpv-table-column-resizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: $table-column-resizer-width;
    cursor: col-resize;
  }
}

.table.table-hover {
  tbody {
    > tr {
      cursor: pointer;
    }
  }
}
