.bpv-datatable {
  position: relative;

  &.bpv-datatable-sm {
    .table {
      > :not(caption) > * > * {
        padding: $table-cell-padding-y-sm $table-cell-padding-x-sm;
      }
    }
  }

  &.bpv-datatable-lg {
    .table {
      > :not(caption) > * > * {
        padding: $table-cell-padding-y-lg $table-cell-padding-x-lg;
      }
    }
  }

  &.bpv-datatable-bordered {
    .table {
      > :not(caption) > * {
        border-width: $table-border-width 0;

        > * {
          border-width: 0 $table-border-width;
        }
      }
    }
  }

  &.bpv-datatable-stripped {
    .table {
      > tbody > tr:nth-of-type(#{$table-striped-order}) > * {
        --#{$prefix}table-color-type: var(--#{$prefix}table-striped-color);
        --#{$prefix}table-bg-type: var(--#{$prefix}table-striped-bg);
      }
    }
  }

  &.bpv-datatable-resizable {
    &[data-p-unselectable-text="true"] {
      user-select: none;
    }

    .table {
      thead, tbody, tfoot {
        > tr {
          > td, th {
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }

    .bpv-datatable-resize-helper {
      display: none;
      position: absolute;
      width: $table-resize-helper-width;
      z-index: $zindex-table-resize-helper;
      background-color: $table-resize-helper-color;
    }
  }

  .bpv-datatable-loading {
    position: absolute;
    left: 0;
    top: 0;
    background-color: $modal-backdrop-bg;
    opacity: $modal-backdrop-opacity;
    width: 100%;
    height: 100%;
    z-index: $zindex-modal-backdrop;
    display: flex;
    justify-content: center;
    align-items: center;

    .bpv-datatable-loading-icon {
      color: $white;
      animation: 0.75s linear infinite spinner-border;
      width: $spinner-width;
      height: $spinner-width;
    }
  }

  .bpv-datatable-header {
    padding-bottom: $table-cell-padding-y;
    padding-top: $table-cell-padding-y;
  }

  .table {
    margin-bottom: 0;
  }

  .bpv-datatable-footer {
    padding: $table-cell-padding-y $table-cell-padding-x;
    color: $table-caption-color;
  }

  .bpv-datatable-row {
    &[data-p-datatable-dragpoint-bottom="true"] {
      > td {
        box-shadow: inset 0 -2px 0 0 var(--#{$prefix}primary);
      }
    }

    &.bpv-datatable-row-selected {
      $color: color-contrast(opaque($body-bg, $table-row-selected-bg));
      $hover-bg: mix($color, $table-row-selected-bg, percentage($table-hover-bg-factor));
      $striped-bg: mix($color, $table-row-selected-bg, percentage($table-striped-bg-factor));
      $active-bg: mix($color, $table-row-selected-bg, percentage($table-active-bg-factor));
      $table-border-color: mix($color, $table-row-selected-bg, percentage($table-border-factor));

      --#{$prefix}table-color: #{$color};
      --#{$prefix}table-bg: #{$table-row-selected-bg};
      --#{$prefix}table-border-color: #{$table-border-color};
      --#{$prefix}table-striped-bg: #{$striped-bg};
      --#{$prefix}table-striped-color: #{color-contrast($striped-bg)};
      --#{$prefix}table-active-bg: #{$active-bg};
      --#{$prefix}table-active-color: #{color-contrast($active-bg)};
      --#{$prefix}table-hover-bg: #{$hover-bg};
      --#{$prefix}table-hover-color: #{color-contrast($hover-bg)};

      color: var(--#{$prefix}table-color);
      border-color: var(--#{$prefix}table-border-color);
    }
  }
}

.bpv-datatable-paginator {
  margin-top: 1rem;
}
