@import "bootstrap/scss/bootstrap";

$offcanvas-layout-bg-color: $dark;
$offcanvas-layout-color: $light;
$offcanvas-layout-width-sm: 80px;

@import "../../../scss/bootstrap-primevue";
@import "flags";
