.bpv-calendar {
  display: block;
}

.bpv-calendar-panel {
  --p-anchor-gutter: var(--#{$prefix}popover-arrow-height);
  --p-calendar-panel-min-width: #{$calendar-panel-min-width};
  --#{$prefix}popover-max-width: 100%;

  min-width: var(--p-calendar-panel-min-width, 210px) !important;

  &.bpv-calendar-enter-from, &.bpv-calendar-leave-to {
    opacity: 0;
  }

  .bpv-calendar-panel-header {
    --#{$prefix}btn-disabled-border-color: transparent;
    --#{$prefix}btn-disabled-opacity: 1;
    --#{$prefix}btn-active-border-color: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: $table-cell-padding-y;
    border-bottom: $table-border-width solid $table-border-color;
  }

  .bpv-calendar-panel-table {
    margin-bottom: 0;

    thead {
      th, td {
        text-align: center;
      }
    }

    .bpv-calendar-panel-table-cell {
      padding: 0;
    }
  }

  .bpv-calendar-panel-label {
    padding: $table-cell-padding-y $table-cell-padding-x;
    display: flex;
    justify-content: center;

    &.disabled {
      --#{$prefix}btn-disabled-color: #{$calendar-panel-label-disabled-color};
      --#{$prefix}btn-disabled-border-color: #{$calendar-panel-label-disabled-border-color};
    }

    &.selected, &.active {
      --#{$prefix}btn-disabled-opacity: 1;
    }

    &.selected {
      @include button-variant($calendar-panel-label-selected-bg, $calendar-panel-label-selected-border-color);
    }

    &.active {
      color: $calendar-panel-label-active-color;
      background-color: $calendar-panel-label-active-bg;
      border-color: $calendar-panel-label-active-border-color;
    }
  }

  .bpv-calendar-panel-monthpicker, .bpv-calendar-panel-yearpicker {
    padding-left: $popover-body-padding-x;
    padding-right: $popover-body-padding-x;
    display: flex;
    flex-wrap: wrap;
    margin-top: -$table-cell-padding-y;
  }

  .bpv-calendar-panel-group {
    @include make-row($calendar-panel-group-item-padding-x);

    .bpv-calendar-panel-group-item {
      @include make-col-ready();
      @include make-col();

      display: flex;
      flex-direction: column;
    }
  }
}
