.bpv-form-checkbox {
  display: inline-flex;

  .bpv-form-checkbox-input {
    margin-top: 0;
  }

  .bpv-form-checkbox-box {
    display: none;
  }
}

.bpv-form-checkbox-group {
  > .form-check {
    display: flex;
    align-items: center;

    &.form-check-inline {
      display: inline-flex;
    }
  }
}
