@import "bootstrap/scss/mixins/gradients";

.bpv-form-select {
  --p-clear-icon-width: #{$form-select-clear-icon-width};
  --p-clear-icon-height: #{$form-select-clear-icon-height};
  --p-dropdown-icon-width: #{$form-select-dropdown-icon-width};
  --p-dropdown-icon-height: #{$form-select-dropdown-icon-height};

  position: relative;

  .bpv-form-select-input {
    cursor: pointer;
    background-image: none;

    &.bpv-form-select-input-placeholder {
      color: $input-placeholder-color;
    }

    &.bpv-form-select-input-disabled {
      border-color: $form-select-disabled-border-color;
      background-color: $form-select-disabled-bg;
      color: $form-select-disabled-color;
      cursor: default;

      &:focus {
        border-color: var(--#{$prefix}border-color);

        @if $enable-shadows {
          @include box-shadow(none);
        } @else {
          // Avoid using mixin so we can pass custom focus shadow properly
          box-shadow: none;
        }
      }
    }
  }

  .bpv-form-select-trigger {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: $form-select-padding-x;
    height: 100%;
    display: flex;
    align-items: center;

    > * {
      width: var(--p-dropdown-icon-width);
      height: var(--p-dropdown-icon-height);
    }
  }

  .bpv-form-select-clear-icon {
    width: var(--p-clear-icon-width);
    height: var(--p-clear-icon-height);
    padding: 0;
    border-radius: 0;
    cursor: pointer;
    position: absolute;
    top: calc(50% - var(--p-clear-icon-height) * 0.5);
    right: calc(#{$form-select-padding-x * 2} + var(--p-dropdown-icon-width));

    * {
      display: none;
    }
  }

  &:has(.bpv-form-select-clear-icon) {
    .bpv-form-select-input {
      padding-right: calc(#{$form-select-indicator-padding} + var(--p-dropdown-icon-width));
    }
  }
}

.bpv-form-select-menu {
  --p-anchor-gutter: 2px;
  --p-form-select-menu-zindex: $zindex-form-select-menu;

  z-index: var(--p-form-select-menu-zindex, $zindex-dropdown) !important;

  &.bpv-form-select-menu-enter-from {
    opacity: 0;
    transform: scaleY(0.8);
  }

  &.bpv-form-select-menu-enter-active {
    transition: opacity, transform 120ms cubic-bezier(0, 0, 0.2, 1);
  }

  &.bpv-form-select-menu-leave-active {
    transition: opacity 100ms linear;
  }

  &.bpv-form-select-menu-leave-to {
    opacity: 0;
  }

  .bpv-form-select-menu-wrapper-list {
    overflow: auto;

    .bpv-form-select-menu-list {
      position: static;
      list-style: none;
      padding: 0;
      margin: 0;

      .bpv-form-select-menu-item {
        position: relative;

        .bpv-form-select-menu-item-icon {
          position: absolute;
          left: 7px;
          top: 0;
          display: flex;
          align-items: center;
          height: 100%;

          > svg {
            width: 14px;
          }

          &.bpv-form-select-menu-item-icon-blank {
            + .bpv-form-select-menu-item-label {
              &:active {
                color: var(--#{$prefix}dropdown-link-hover-color);
                @include gradient-bg(var(--#{$prefix}dropdown-link-hover-bg));
              }
            }
          }
        }

        .bpv-form-select-menu-item-label {
          $base: var(--#{$prefix}dropdown-item-padding-x);

          cursor: pointer;
          padding-left: calc($base + 14px);
        }

        &.active {
          .bpv-form-select-menu-item-icon {
            color: var(--#{$prefix}dropdown-link-color);

            &.bpv-form-select-menu-item-icon-check {
              + .bpv-form-select-menu-item-label {
                color: var(--#{$prefix}dropdown-link-hover-color);
                @include gradient-bg(var(--#{$prefix}dropdown-link-hover-bg));
              }
            }
          }

          .bpv-form-select-menu-item-label {
            color: var(--#{$prefix}dropdown-link-active-color);
            @include gradient-bg(var(--#{$prefix}dropdown-link-active-bg));
          }
        }

        &.focus {
          color: var(--#{$prefix}dropdown-link-hover-color);
          text-decoration: if($link-hover-decoration == underline, none, null);
          @include gradient-bg(var(--#{$prefix}dropdown-link-hover-bg));
        }

        &.bpv-form-select-menu-item-group {
          .bpv-form-select-menu-item-label {
            font-weight: $font-weight-bold;
            cursor: auto;

            &:hover {
              background-color: inherit;
            }

            &:active, &:focus {
              color: inherit;
            }
          }
        }
      }
    }
  }
}

.bpv-form-multiselect-menu {
  .bpv-form-multiselect-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--#{$prefix}dropdown-item-padding-y) var(--#{$prefix}dropdown-item-padding-x);

    .btn-close {
      padding: 0;
    }
  }

  .bpv-form-multiselect-menu-item {
    display: flex;
    align-items: center;
    padding: var(--#{$prefix}dropdown-item-padding-y) var(--#{$prefix}dropdown-item-padding-x);
    cursor: pointer;

    .bpv-form-multiselect-menu-item-option {
      padding-left: $form-check-padding-start - $form-check-input-width;
    }
  }
}
