.bpv-password {
  position: relative;

  .bpv-password-toggle-mask-icon {
    position: absolute;
    right: $input-height-inner-quarter;
    top: calc(50% - #{$password-toggle-mask-icon-height} * 0.5);
    width: $password-toggle-mask-icon-width;
    height: $password-toggle-mask-icon-height;
    color: $password-toggle-mask-icon-color;
    cursor: pointer;
  }

  svg.bpv-password-toggle-mask-icon {
    * {
      fill: currentColor;
    }
  }

  &:has(.bpv-password-toggle-mask-icon) {
    .bpv-form-control {
      @if $enable-validation-icons {
        @each $state in ('valid', 'invalid') {
          @include form-validation-state-selector($state) {
            padding-right: calc($input-height-inner-half * 4);
            background-position: right calc($input-height-inner) center;
          }
        }
      }
    }
  }

  .bpv-form-control {
    &.form-control-sm {
      + .bpv-password-toggle-mask-icon {
        width: $password-toggle-mask-icon-width-sm;
        height: $password-toggle-mask-icon-height-sm;
        top: calc(50% - #{$password-toggle-mask-icon-height-sm} * 0.5);
      }
    }

    &.form-control-lg {
      + .bpv-password-toggle-mask-icon {
        width: $password-toggle-mask-icon-width-lg;
        height: $password-toggle-mask-icon-height-lg;
        top: calc(50% - #{$password-toggle-mask-icon-height-lg} * 0.5);
      }
    }
  }
}
