$badge-padding-x-lg: $badge-padding-x * 1.25 !default;
$badge-padding-y-lg: $badge-padding-y * 1.25 !default;
$badge-font-size-lg: $badge-font-size * 1.25 !default;
$badge-padding-x-xl: $badge-padding-x * 1.5 !default;
$badge-padding-y-xl: $badge-padding-y * 1.5 !default;
$badge-font-size-xl: $badge-font-size * 1.5 !default;

$card-body-gap: $spacer !default;
$card-caption-gap: $spacer * 0.5 !default;
$card-title-font-size: $h5-font-size !default;
$card-subtitle-color: map-get($theme-colors, secondary) !default;

$input-filled-bg: var(--#{$prefix}light) !default;
